* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --gold: #C6A24D;
    --soft-gold: #F4D88A;
    --purple: #6A0DAD;
    --navy: #1B1F3B;
    --cyan: #00FFD1;
    --cream: #FFF6E5;
    --light-purple: #9B59B6;
    --champagne: #F8E3A1;
    --red: #c62300;
    --ored: #F14A00;
    --light: #C8ACD6;
    --midnight: #0F1233;
    --text-light: #F8F6F3;
    --bg-page: #FDF9F4;
    --bg-section: rgba(255, 255, 255, 0.85);
    --btn-text: #1C1C1C;
    --accent-light: #FFF8E7;

}

@keyframes fadeUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floating {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.fadeup {
    animation: fadeUp 2s ease forwards;
    opacity: 0;
    transform: translateY(30px);
}


.spanfirst {
    animation-delay: 3s;
}

.hero-text span:nth-child(2) {
    animation-delay: 0.6s;
}

.hero-text span:nth-child(3) {
    animation-delay: 1s;
}


.slideinleft {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-out;
}

.slideinright {
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.8s ease-out;
}

.slideinleft .show,
.slideinright .show {
    opacity: 1;
    transform: translateX(0);
}

header {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(10px); */
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
}


.big-a {
    font-size: 80px;
    font-weight: 700;
    /* line-height: 0.9; */
    color: var(--gold);
    /* font-family: "Pinyon Script", cursive; */
 font-family: "Molle", cursive;
}

.brand-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.urel {
    font-size: 28px;
    margin-top: 10px;
    color: var(--gold);
    font-family: "Playfair Display", serif;
}

.events {
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--gold);
    /* margin-left: 8px; */
    font-family: "Playfair Display", serif;
}

.menu-btn {
    background: none;
    border: none;

}

.menu-btn,
#nav-close {
    font-size: 30px;
    color: var(--gold);
    transition: all 0.2s ease;
    cursor: pointer;
}

.menu-btn:hover,
#nav-close:hover {
    color: var(--light);
}

.menu-btn:active,
#nav-close:active {
    transform: scale(1.5);
    color: var(--light);
}

#nav-close {
    text-align: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    color: var(--gold);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.nav-list li a:hover {
    background-color: var(--gold);
    color: var(--navy);
}

header h1 {
    color: var(--gold);
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    /* width: 320px; */
    padding: 4rem 2rem;
    background-color: rgba(228, 63, 63, 0.25);
    backdrop-filter: blur(10px);
    transition: right 0.3s ease-in-out;
    z-index: 5;
}

.active {
    right: 0;
}

#hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.hero {
    animation: float 8s ease-in-out infinite;
    position: relative;
    z-index: 3;
    text-align: center;
    max-width: 900px;

}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(image/images\ \(18\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.05;
    margin-bottom: 1.5rem;
}

.hero-text span {
    font-size: 40px;
    width: 100%;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--gold);
    margin-top: 30px;
}

.hero .subtitle {
    color: var(--gold);
    max-width: 280px;
    margin: 0 auto 2rem;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 30px;
}


.btn {
    display: inline-block;
    color: var(--gold);
    background: transparent;
    box-shadow: 0 0 10px var(--gold);
    border: 2px solid var(--gold);
    padding: 12px 30px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-top: 40px;
}


.btn:hover {
    background-color: var(--gold);
    color: var(--navy);
    box-shadow: 0 0 40px var(--gold);
}

.btn:active {
    background-color: var(--gold);
    color: var(--navy);
    box-shadow: 0 0 40px var(--gold);
    transform: translateY(6px);
}

/* services */
#services {
    background: linear-gradient(to right, #f8f4ec, #ece7dd);
    padding: 40px 20px 70px 20px;
    overflow: hidden;
}

.description-head {
    text-align: center;
    margin-bottom: 20px;
}

.descrip {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 2rem;
    color: #4b4b4b;
}

.description-head .heading {
    margin-bottom: 20px;
    color: var(--navy);
    font-size: 28px;
    text-transform: uppercase;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 60px;
}

.services-card {
    background: linear-gradient(135deg, rgba(206, 179, 91, 0.15) rgba(11, 19, 36, 0.19));
    border: 1px solid rgba(206, 179, 91, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    ;
    border-radius: 20px;
    padding: 40px 60px;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(40px);
    opacity: 0;
}

/* .services-card:nth-child(1){ animation-delay: 0.2s; }
.services-card:nth-child(2){ animation-delay: 0.4s; }
.services-card:nth-child(3){ animation-delay: 0.6s; }
.services-card:nth-child(4){ animation-delay: 0.8s; }
.services-card:nth-child(5){ animation-delay: 1s; }
.services-card:nth-child(6){ animation-delay: 1.2s; } */

.services-card:nth-child(1) {
    transition-delay: 0.1s;
}

.services-card:nth-child(2) {
    transition-delay: 0.3s;
}

.services-card:nth-child(3) {
    transition-delay: 0.5s;
}

.services-card:nth-child(4) {
    transition-delay: 0.7s;
}

.services-card:nth-child(5) {
    transition-delay: 0.9s;
}

.services-card:nth-child(6) {
    transition-delay: 1.1s;
}

.services-card.show {
    opacity: 1;
    transform: translateY(0);
}

.services-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px var(--navy);
}

.services-card h3 {
    margin-bottom: 10px;
    color: var(--navy);
    font-size: 25px;
}

.services-card p {
    color: #4b4b4b;
}

/* gallery */
#gallery {
    background-color: rgb(253, 253, 218);
    padding: 40px 20px 70px 20px;
    overflow: hidden;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.gal-items img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.5s ease;

}

.gal-items {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.gal-items:hover img {
    transform: scale(1.15);
}

#gallery h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--navy);
}

.overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%) translate(30px);
    color: var(--navy);
    text-shadow: 0 0 8px rgba(248, 248, 248, 0.7);
    font-size: 28px;
    font-weight: 550;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: transform 0.5s ease-in-out;
}

.gal-items::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(120, 20, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 8px;
    color: white;
}

.gal-items:hover .overlay {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
    transform: scale(1.1);
    border-radius: 8px;
}

.gal-items:hover::after {
    opacity: 1;
    border-radius: 8px;
}

/* testimonial */
#testimonial {
    position: relative;
    /* background: linear-gradient(360deg, #0F1233, #464040); */
    background-color: var(--midnight);
    padding: 40px 20px 70px 20px;
    overflow: hidden;
}

#testimonial h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--cream);
}

.slider {
    overflow: hidden;
}

.track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    flex: 0 0 100%;
    padding: 1rem;
    text-align: center;
}

.avatar {
    position: relative;
    background: linear-gradient(135deg, #C6A24D, #F4D88A);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--midnight);
    align-items: center;
    margin: 10px auto 30px auto;
    font-size: 70px;
    line-height: 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.avatar::after {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 50%;
    border: 1px solid rgba(212, 175, 55, 0.3);
    animation: floating 1s ease infinite;
}

.slide h3 {
    color: var(--soft-gold);
    margin-bottom: 10px;
    font-size: 30px;
}

.slide p {
    color: var(--cream);
    font-size: 19px;
    line-height: 1.4;
}

.next,
.prev {
    color: var(--gold);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;

}

.next:hover,
.prev:hover {
    color: var(--soft-gold);
}

.next:active,
.prev:active {
    transform: scale(1);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 15px;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--gold);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.dots span.active {
    transform: scale(1.4);
}

/* contact */
#contact {
    background: #bdb9b1;
    /* background-color: var(--light); */
    padding: 40px 20px 70px 20px;
    overflow: hidden;
}

.contact-head {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--midnight);
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-details input {
    border: none;
    padding: 20px;
    border-radius: 20px;
}

input:placeholder-shown {
    font-size: 15px;
    letter-spacing: 1px;
}

.contact-details textarea {
    border: none;
    padding: 20px;
    border-radius: 20px;
}

textarea:placeholder-shown {
    font-size: 15px;
    letter-spacing: 1px;
}

form button {
    align-self: flex-start;
    border: none;
    border-radius: 50px;
    padding: 18px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--btn-text);
    color: white;
    margin-top: 10px;
    transition: all 0.3s ease-in;
}

form button:hover {
    background-color: var(--cream);
    outline: 2px solid var(--midnight);
    color: var(--midnight);
}

.highlights {
    align-items: center;
    gap: 10px;
    display: flex;
    color: var(--midnight);
}

.highlights p {
    font-size: 17.5px;
}

/* footer */
footer {
    background-color: #0D1025;
    align-items: center;
    color: var(--cream);
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 17px;
}

.socials {
    margin-top: 10px;
}

.socials i {
    margin: 0 8px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.socials i:hover {
    color: var(--gold);
    transform: translateY(-2px);
}

#hero,
#services,
#gallery,
#testimonial,
#contact {
    scroll-margin-top: 110px;
}

.heading,
.gal-head,
.testimonial-head,
.contact-head {
    position: relative;
    /* display: inline-block; */
}

/* underline */
.heading::after,
.gal-head::after,
.testimonial-head::after,
.contact-head::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--gold);
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    transition: width 0.6s ease;
}

/* when active */
.show-underline::after {
    width: 25%;
}

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    #nav-close {
        display: none;
    }

    nav {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        transform: none;
        backdrop-filter: none;
    }

    .nav-list {
        flex-direction: row;
        gap: 1px;
    }

    .nav-list li a {
        font-size: 24px;
    }

    .hero-text span {
        font-size: 80px;
    }

    .hero .subtitle {
        max-width: 800px;
        font-size: 20px;
    }

    #services {
        padding: 40px 80px 70px;
    }

    .descrip {
        font-size: 23px;
    }

    .services-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .services-card {

        padding: 80px 20px;
    }

    .services-card p {
        max-width: 400px;
        margin: auto;
        font-size: 20px;
    }

    #gallery {
        padding: 40px 80px 70px;
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #gallery h1 {
        /* font-size: 38px; */
        margin-bottom: 70px;
    }

    #testimonial {
        padding: 40px 80px 70px;
    }


    .slide {
        flex: 0 0 33.3333%;
        padding: 1rem;
    }


    #contact {
        padding: 40px 80px 70px;
    }

    .contact-head {
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 30px;
        color: var(--midnight);
    }

    .contact-details {
        flex-direction: column-reverse;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    form {
        flex: 1;
        max-width: 700px;
        width: 100%;
    }

    .contact-details input {
        border: none;
        padding: 20px;
        border-radius: 20px;
    }

    input:placeholder-shown {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .contact-details textarea {
        border: none;
        padding: 20px;
        border-radius: 20px;
    }

    textarea:placeholder-shown {
        font-size: 15px;
        letter-spacing: 1px;
    }

    form button {
        align-self: flex-start;
        border: none;
        border-radius: 50px;
        padding: 18px 30px;
        font-size: 18px;
        font-weight: bold;
        background-color: var(--btn-text);
        color: white;
        margin-top: 10px;
    }

    .highlights {
        align-items: center;
        gap: 10px;
        display: flex;
        color: var(--midnight);
    }

    .highlights p {
        font-size: 17.5px;
    }

    .show-underline::after {
        width: 6%;
    }
}